
.places {
  max-width: 984px;

  margin: 5.75rem auto;
  padding: 0;

  display: grid;
  grid-template-columns: 100%;
  row-gap: 80px;
}
@media screen and (max-width: 1279px) {
  .places {
    width: 90.625%;
  }
}
@media screen and (max-width: 768px) {
  .places {
    width: 93.75%;
    margin-top: 5.5rem;
    margin-bottom: 5.625rem;
    row-gap: 72px;
  }
}
@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4.125rem;
    row-gap: 50px;
  }
}