
.intro__list {
  max-width: 690px;
  
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 700;
  
  margin: 0;
  padding: 0;
  
  list-style-type: none;
}
@media screen and (max-width: 1024px) {
  .intro__list {
    width: 100%;
  }
}