
.cover__subtitle {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;

  max-width: 360px;
    
  padding: 0;
  margin: auto;
  
  text-align: center;
}
@media screen and (max-width: 560px){
  .cover__subtitle{
    font-size: 0.875rem;
    line-height: 1rem;

    max-width: 273.5px;
  }
}