
.intro__text {
  max-width: 690px;
  
  font-size: 1rem;
  line-height: 1.63rem;
  font-weight: 400;
  
  margin: 2.5rem 0 2.0625rem 0;
  padding: 0;
}
@media screen and (max-width: 1024px) {
  .intro__text {
    width: 100%;
  }
}