
.footer__copyright {
  margin: 0;
  padding: 0;
  
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
}
@media screen and (max-width: 688px) {
  .footer__copyright {
    margin-top: 3rem;
  
    line-height: 0.875rem;
  }
}