
.cover__titles {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;  
    
  padding: 0;
  margin: auto;

  max-width: 560px;
  max-height: 250px;

  color: white;
}
@media screen and (max-width: 560px){
  .cover__titles {
    max-width: 288px;
    max-height: 134px;
  }
}