
.cover__background {
  width: 100%;
  height: 100%;

  background-image: url("/sprint-3-images/cover-trains.jpg");
  background-size: cover;
  background-position: center;

  padding: 0;
  margin: 0;

  grid-column: 1;
  grid-row: 1/3;

  position: relative;
}
