
.lead__caption {
  align-self: start;
  
  font-size: 0.625rem;
  line-height: 0.875rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  
  margin: 0.5rem 0 0 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .lead__caption{
    margin-left: 1.5rem;
  }
}
@media screen and (max-width: 320px) {
  .lead__caption{
    margin-left: 1rem;
  }
}