
.footer {
  display: flex;
  justify-content: space-between;
  
  max-width: 1184px;
  
  margin: 92px auto 0 auto;
  padding: 0 0 24px 0;
}
@media screen and (max-width: 1280px) {
  .footer {
    max-width: 90.625%;
  }
}
@media screen and (max-width: 1024px) {
  .footer {
    max-width: 92.5%;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 5.5rem;
    max-width: 93.75%;
  }
}
@media screen and (max-width: 688px) {
  .footer {
    max-width: 186px;
  
    flex-direction: column;
  
    margin: 4rem 0 0 1rem;
    padding: 0 0 1.5rem 0;
  }
}
  

  
 
  
 